*,body{
    padding: auto;
    margin: 0;
}
.main-container{
    margin: 0px;
    background-color:#114454;
    width: 100%;
    /* height: 1000px; */
    font-family: 'Roboto', sans-serif;
    color: darkcyan;

}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.title{
    margin-top: 20px;
    margin-left: 50px;  
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
}
.links{
   margin-top: 60px; 
   margin-right:200px ;
   justify-content: space-around;
}
.links a{
    margin: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 30px;
}
#search {
    margin: 40px 200px 0px;
}
#search > input{
    padding: 10px;
    width: 300px;
    border-radius: 200px;
}
#search > button{
    padding: 10px;
    width: 100px;
    border-radius: 200px;
    background-color: black;
    color: white;
}
.hero-section{
    display: flex;
    margin-left: 200px;  

}
#hero-text{
    width: 40%;
    color: inherit;
    font-size: 30px;
    font-family: inherit;
    margin-top: 150px;
}
#hero-image > img{
    width: 800px;
    height: 700px;  
    margin-left: 60px;
    border-radius: 200px;  
}
.popular-title{
    margin:40px 0px 20px 180px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: white;

}
.titles{
 width: 300px;
 background-color: white;
 color: #000;
 font-family: inherit;
 font-size: x-large;
 text-align: center;
}
.popular-books{
    display: flex;
    justify-content:space-around;
    margin-top:20px;
    font-family:inherit;
    font-size: 20px;
    color: white;
    margin-left: 20px;
}
.img{
    width:300px;
    height: 400px;
}
.like-button{
    color: white;
    font-size: 1.5rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
}
.like-button:hover{
    color: rgb(241, 71, 19);
}
.like-button:active {
    color:rgb(253, 159, 124);
}
.like-button:focus {
    outline: none;
}
.review-form > input{
    padding: 10px;
    width: 250px;
}
.review-form > button{
    padding:10px;
}
ul{
    background:darkcyan ;
    color: inherit;
    margin-bottom: 100px;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    /* padding:20px; */
    /* padding-bottom: 0px; */
}
#subscribe> h3 {
    font-size: x-large;
    margin-top: 10px;
}
#subscribe> p{
    padding-bottom:5px;
}
#subscribe > input{
    padding:10px;
    width: 300px;
    margin-top:30px;
}
#subscribe > button{
    padding: 10px;
}
.contacts{
  /* float: left;  */
  background: darkcyan; 
  padding: 10px;
  width: 200px;
  justify-content: space-between;
  margin-top: 0px;
}
.footer-links ul{
    background-color: #000; 
   text-align: left;
   /* padding: 30px; */
   margin-left: 100px;
   margin-top: 30px;
   
}
.footer-links li {
    list-style: none;
    font-size: large;
}
.footer-links a{
    color: white;
    text-decoration: none;
}
.copyright{
    border-top: 10px solid white;
    padding: 10px;
    /* display: inline; */
}
.copyright p{
    display: inline-block;
}